*{
    box-sizing:border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px 30px;
    font-size:17px;
    padding:8px;
}
.container{
    background-color:#f2f2f2;
    padding:5px 20px 15px 20px;
    border:1px solid lightgray;
    border-radius: 6px;
}
input[type="text"],
input[type="email"
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
    width:100%;
    padding:12px;
    border:1px solid  #cccc;
   border-radius:6px; 
}
fieldarea{
    background-color: #ffff;
    border: 1px solid #cccc;
}
.main_heading{
    text-align:right;
}
input[type="submit"] {
    background-color: #44daca;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

