*{
    box-sizing:border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px 30px;
    font-size:17px;
    padding:8px;
}
.submit{
    background-color: #44daca;
    padding: 12px 20px ;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
.containers{
    background-color:#f2f2f2;
    padding:5px 20px 15px 20px;
    border:1px solid lightgray;
    border-radius: 6px;
}
.gender{
    padding-left: 20px;
    margin-top: -30px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
    width:100%;
    padding:12px;
    border:1px solid  #cccc;
   border-radius:6px; 
}
.address{
    background-color: #ffff;
    border: 1px solid #cccc;
}
.main_heading{
    text-align:center;
}
fieldset {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.heading{
    background: yellowgreen;
    padding: 5px 10px 15px 15px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.heading h1 {
    color: #fff;
}
.heading p {
    color: #fff;
}
h2{
    margin-top:25px !important;
}
select {
    font-family: 'FontAwesome', 'sans-serif';
  }
  
